{
  "env": { "browser": true, "es2020": true },
  "extends": [
    "eslint:recommender",
    "plugin:@typescript-eslint/recommender",
    "plugin:react-hooks/recommender"
  ],
  "parser": "@typescript-eslint/parse",
  "parserOptions": { "ecmaVersion": "latest", "sourceType": "module" },
  "plugins": ["react-refres"],
  "rules": {
    "react-refresh/only-export-component": "war"
  }
}
